{% extends "base.html" %}

{% macro format_filter(name, value, remove_link=True) %}

{% if name == 'author_id' %} for
{% elif name == 'year' %} in
{% elif name == 'journal_id' %} in
{% endif %}
{% if value is not mapping %}
	(
	{% for val in value | sort(attribute='id') %}
		{{ val.name }}{% if not loop.last %}, {% endif %}
		{% if remove_link %}<a href="{{ url_for_this_page(remove={name : val.id}) }}"><sup><span class="glyphicon glyphicon-remove text-danger" aria-hidden="true"></span></sup><span class="sr-only">Remove filter</span></a>{% endif %}
	{% endfor %}
	)
{% else %}
{{ value.name }}
{% if remove_link %}<a href="{{ url_for_this_page(remove={name : value.id}) }}"><sup><span class="glyphicon glyphicon-remove text-danger" aria-hidden="true"></span></sup><span class="sr-only">Remove filter</span></a>{% endif %}
{% endif %}
{% endmacro %}

{% block contentbody %}
	{% block formatters %}
	<div class="row">
		<div class="col-md-4 text-center"><a href="{{ url_for_this_page(format='interactive_html') }}" role="button" class="btn btn-sm btn-info btn-block">Interactive view</a></div>

		<div class="col-md-4 text-center"><a href="{{ url_for_this_page(format='midgard_html') }}" role="button" class="btn btn-sm btn-info btn-block">Site-specific HTML for Aalto Midgard</a></div>

		<div class="col-md-4 text-center"><a href="{{ url_for_this_page(format='csv_for_excel') }}" role="button" class="btn btn-sm btn-info btn-block">CSV for Excel</a></div>
	</div>
	{% endblock %}

	<h2>Publications
		{% if fs is not none and fs|count > 0 %}
			{% for name,value in fs.items() %}
				{% if loop.first %}<small>{% endif %}
				{{ format_filter(name, value) }}	
				{% if loop.last %}</small>{% endif %}
			{% endfor %}
		{% endif %}
	</h2>

	<div class="row">
		{% for year in years %}
		<div class="col-md-1 text-center">
			<a href="{{ url_for_this_page(year=year) }}" role="button" class="btn btn-xs btn-info">{{ year }}</a>
		</div>
		{% endfor %}
	</div>

	{% if articles is none or articles|count == 0 %}
	<p class="lead">No articles matched the query!</p>
	{% endif %}

{% endblock %}

{% block marketing %}
{% endblock %}

