Flask
#flask-rest
flask-appconfig
flask-bootstrap
flask-wtf
wtforms
Flask-SuperAdmin
requests
#lxml
sqlalchemy
flask-sqlalchemy
citeproc-py
nameparser
#bibtexparser
chardet
#MySQL-Python # Required for MySQL-connectivity
#flask-admin
flask-script
flask-login
flask-openid
sqlalchemy-migrate
urllib3
rauth
