Flask
#flask-rest
flask-appconfig
flask-bootstrap
flask-wtf
wtforms
#Flask-SuperAdmin
requests
#lxml
sqlalchemy
flask-sqlalchemy
#citeproc-py==0.1.0-13-g1f5b
nameparser
#bibtexparser
#chardet
#MySQL-Python # Required for MySQL-connectivity
