{% extends "bootstrap/base.html" %}
{% import "bootstrap/fixes.html" as fixes %}
{% import "bootstrap/wtf.html" as wtf %}

{% block metas %}
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
{{super()}}
{% endblock %}

{% block title %}DOIFetcher{% endblock %}

{% block styles %}
{{super()}}
<link href="http://fonts.googleapis.com/css?family=Alice|Playfair+Display:900" rel="stylesheet" type="text/css" />
<style>
body {
    padding-top: 16px;
    padding-bottom: 16px;
    font-family: 'Alice', serif;
    font-size: 14px;
    font-weight: normal;
    line-height: 17px;
    margin: 0 0 17px 0;
}
.container-narrow {
    margin: 0 auto;
    max-width: 700px;
}
.jumbotron {
    margin: 5px 0;
    text-align: left;
    background-color: white;
}
.jumbotron h1 {
    font-size: 43px;
    line-height: 46px;
    font-weight: 900;
    text-align: center;
    font-family: 'Playfair Display', serif;
    margin: 0 0 23px 0;
}
.jumbotron h2 {
    font-size: 24px;
    line-height: 26px;
    font-family: 'Alice', serif;
    margin: 0 0 23px 0;
}
.jumbotron p {
	font-size: 14px;
}
.marketing {
    margin: 40px 0;
}
.marketing p + h4 {
    margin-top: 28px;
}
.breadcrumb .disabled {
    color: #ddd;
}
.error {
    font-size: 10px;
}
table > caption {
	text-align: left;
	text-transform: capitalize;
}
form {
	font-family: 'Alice', serif;
}
</style>
{% endblock %}

{% block scripts %}
{{super()}}
<script>
var url = window.location;
// Will only work if string in href matches with location
$('ul.nav a[href="'+ url +'"]').parent().addClass('active');

// Will also work for relative and absolute hrefs
$('ul.nav a').filter(function() {
    return this.href == url;
}).parent().addClass('active');
</script>
{% endblock %}

{% block body %}
<div class="container-narrow">
{% block flashes %}
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                {% if category == 'error' %}
                    <div class="alert alert-danger">
                {% elif categoty == 'warning' %}
                    <div class="alert alert-warning">
                {% else %}
                    <div class="alert alert-info">
                {% endif %}
                        <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        {{ message }}
                    </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
{% endblock %}
{{ super() }}
</div>
{% endblock %}

{% block navbar %}
    <ul class="nav nav-tabs nav-justified" role="tablist">
        <li><a href="{{ url_for('welcome_page') }}">Start</a></li>
				<li><a href="{{ url_for('simple.add') }}">Add one</a></li>
				<li><a href="{{ url_for('batch.batch_import') }}">Batch import</a></li>
				<li><a href="{{ url_for('browse.browse_articles') }}">Browse database</a></li>
				<li><a href="{{ url_for('export.export_data') }}">Export</a></li>
    </ul>
{% endblock %}



{% block content %}
<div class="row jumbotron">
    <h1>DOI Fetcher</h1>
    {% block contentbody %}
    <p class="lead">Highlighted content</p>
    <a class="btn btn-large btn-success" href="#">Example button!</a>
    {% endblock %}
</div>

<div class="row marketing">
    {% block marketing %}
    <div class="col-md-6">
        <h4>Subheading</h4>

    </div>
    <div class="col-md-6">
        <h4>Subheading</h4>
    </div>
    {% endblock %}
</div>

<div class="footer">
    {% block footer %}
    <p>&copy; Company 2014</p>
    {% endblock %}
</div>
{% endblock %}


