{% extends "base.html" %}

{% block contentbody %}
	<h2>Export all</h2>

	{% if listhtml %}
		<p><a href="#" role="button" class="btn btn-primary" data-toggle="modal" data-target="#htmldataModal">Show HTML</a></p>

		<div style="border-radius: 6px; -webkit-border-radius: 6px; -moz-border-radius: 6px; border-collapse: separate; border: solid #ddd 1px; padding: 1em; height: 100%; overflow: auto;">
			{{ listhtml|safe }}
		</div>
	{% else %}
		No data found!
	{% endif %}

	<div class="modal fade" id="htmldataModal" tabindes="-1" role="dialog" aria-labelledby="htmldataModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
					<h4 class="modal-title" id="htmldataModelLabel">HTML Source Code</h4>
				</div>
				<div class="modal-body">
					<pre class="pre-scrollable small"><code class="html">{{ listhtml }}</code></pre>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>

{% endblock %}

{% block marketing %}
{% endblock %}

