<h2>Publications</h2>

{% set counter = 0 %}
{% for year in articles|groupby('pub_date.year')|reverse %}
<h3 class="accordion">{{ year.grouper }} ({{ year.list|count }} {% if year.list|count == 1 %}article{% else %}articles{% endif %})</h3>
<ol class="accordion">
	{% for article in year.list %}
	<li value="{{ counter + loop.index }}"><p>
		{% for author in article.authors %}{{ author.first }} {% if author.middle %}{{ author.middle }} {% endif %}{{ author.last }}{% if loop.last %}. {% else %}, {% endif %}{% endfor %}
		<strong>{{ article.title }}</strong>,
		{% if article.journal.abbreviation %}{{ article.journal.abbreviation }}{% else %}{{ article.journal.name }}{% endif %} ({{ article.pub_date.year }}){% if article.volume %} {{ article.volume }}{% if article.issue %}:{{ article.issue }}{% endif %}{% endif %}{% if article.pages %}, {{ article.pages }}{% endif %}.
		{% if article.doi %}DOI:&nbsp;<a href="http://dx.doi.org/{{ article.doi }}">{{ article.doi }}</a>{% endif %}
	</p></li>
	{% endfor %}
	{% set counter = counter + year.list|length %}
</ol>
{% endfor %}
