{% extends "bootstrap/base.html" %}
{% import "bootstrap/fixes.html" as fixes %}
{% import "bootstrap/wtf.html" as wtf %}

{% block metas %}
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
{{super()}}
{% endblock %}

{% block title %}{{ config.SITE_TITLE|safe or 'DOI Fetcher' }}{% endblock %}

{% block styles %}
{{super()}}
<link href="https://fonts.googleapis.com/css?family=Open+Sans|Dosis:400,600|Droid+Sans+Mono" rel="stylesheet" type="text/css" />
<style>
body {
    padding-top: 16px;
    padding-bottom: 16px;
    margin: 0 0 23px 0;
		background-image: url('{{ url_for("static", filename="img/crosses.png") }}');
}
body,p,div {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: normal;
    line-height: 23px;
}
pre,code {
	font-family: 'Droid Sans Mono', monospace;
	font-size: 12px;
	font-weight: normal;
}
.container-narrow {
    margin: 0 auto;
    max-width: 800px;
    background-color: rgba(245,245,245,1.0);
		padding: 20px;
		border: 1px #bbb solid;
		border-radius: 5px;
}
.jumbotron {
    margin: 5px 0;
    text-align: left;
		background: transparent;
}
.jumbotron h1 {
    font-size: 40px;
    line-height: 46px;
    font-weight: 400;
    text-align: center;
    font-family: 'Dosis', sans-serif;
    margin: 0 0 23px 0;
}
.jumbotron h2 {
    font-size: 18px;
    line-height: 23px;
		font-weight: 600;
    font-family: 'Dosis', sans-serif;
    margin: 0 0 23px 0;
}
.jumbotron h3 {
	font-size: 18px;
	font-weight: 400;
	font-family: 'Dosis', sans-serif;
}
.jumbotron p {
	font-size: 14px;
}
.page-header {
	margin-top: 0;
	margin-bottom: 0;
}
.row {
	padding-top: 10px;
	padding-bottom: 10px;
}
.marketing {
    margin: 40px 0;
}
.marketing p + h4 {
    margin-top: 28px;
}
.breadcrumb .disabled {
    color: #ddd;
}
.error {
    font-size: 10px;
}
table > caption {
	text-align: left;
	text-transform: capitalize;
}
form {
	font-family: 'Alice', serif;
}
.btn {
	border-radius:0;
}
.nav-tabs.nav-justified > .active > a {
	border-bottom-color: #ddd;
	border-bottom: none;
}
.nav-tabs.nav-justified > .active > a:hover {
	background-color: rgba(255,255,255,0.2);
	border-bottom: none;
}
.nav-tabs.nav-justified > li > a {
	border-radius:0;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	background: transparent;
}
.form-control {
	border-radius: 2;
}
</style>
{% endblock %}

{% block scripts %}
{{super()}}
<script>
var url = window.location;
// Will only work if string in href matches with location
$('ul.nav a[href="'+ url +'"]').parent().addClass('active');

// Will also work for relative and absolute hrefs
$('ul.nav a').filter(function() {
    return this.href == url;
}).parent().addClass('active');
</script>
{% endblock %}

{% block body -%}
<div class="container-narrow">
{% block flashes %}
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                {% if category == 'error' %}
                    <div class="alert alert-danger">
                {% elif category == 'warning' %}
                    <div class="alert alert-warning">
                {% else %}
                    <div class="alert alert-info">
                {% endif %}
                        <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        {{ message }}
                    </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
{% endblock %}
{{ super() }}
</div>
{%- endblock body %}

{% block navbar %}
<div class="row">
	<div class="col-md-12">
    <ul class="nav nav-tabs nav-justified" role="tablist">
        <li><a href="{{ url_for('welcome_page') }}"><span class="glyphicon glyphicon-home"></span> Start</a></li>
				<li><a href="{{ url_for('simple.add') }}"><span class="glyphicon glyphicon-plus-sign"></span> Add one</a></li>
				<li><a href="{{ url_for('export.export_welcome') }}"><span class="glyphicon glyphicon-export"></span> Export</a></li>
				{% block nav_extra %}{% endblock %}
				{% if g.user.is_authenticated() %}
				<li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="glyphicon glyphicon-user"></span> {% if g.user.name %}{{ g.user.name }}{% else %}{{ g.user.nickname }}{% endif %}<span class="caret"></span></a>
					<ul class="dropdown-menu" role="menu">
						<li><a href="{{ url_for('login.profile_page', id_or_nickname=g.user.nickname) }}">Profile</a></li>
						<li><a href="{{ url_for('admin.index') }}">Administer database</a></li>
						<li class="divider"></li>
						<li><a href="{{ url_for('login.logout_page') }}">Sign out</a></li>
					</ul>
				</li>
				{% else %}
				<li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="glyphicon glyphicon-lock"></span> Sign in<span class="caret"></span></a>
					<ul class="dropdown-menu" role="menu">
					{% for pr,val in config.OAUTH_CREDENTIALS.items() %}
						<li><a href="{{ url_for('login.oauth_authorize', provider=pr) }}"><img src="{{ url_for('login.static', filename='img/signin-'+pr+'.png') }}" /></a></li>
					{% endfor %}
					</ul>
				</li>
				{% endif %}
    </ul>
	</div>
	{% block navsubrow %}{% endblock %}
</div>
{% endblock %}



{% block content %}
<div class="row jumbotron">
	<div class="page-header">
		<h1>{{ config.SITE_TITLE|safe or 'DOI Fetcher' }} <small>{% block brand %}{% endblock %}</small></h1>
	</div>
    {% block contentbody %}
    <p class="lead">Highlighted content</p>
    <a class="btn btn-large btn-success" href="#">Example button!</a>
    {% endblock %}
</div>

<div class="footer">
    {% block footer %}
		<p>{{ config.COPYRIGHT|safe or '&copy; Company 2014'|safe }}</p>
    {% endblock %}
</div>
{% endblock %}


