{% extends "base.html" %}

{% block scripts %}
{{super()}}
<script src="{{ url_for('.static', filename='js/jquery-ui.min.js') }}"></script>
<script src="{{ url_for('.static', filename='js/repeatable-fields.js') }}"></script>
<script>
jQuery(function() {
		jQuery('.repeat').each(function() {
			jQuery(this).repeatable_fields();
		});
});
</script>
{% endblock %}

{% block styles %}
{{super()}}
<link href="{{ url_for('.static', filename='css/jquery-ui.min.css') }}" rel="stylesheet" media="screen">
<link href="{{ url_for('.static', filename='css/jquery-ui.structure.min.css') }}" rel="stylesheet" media="screen">
<link href="{{ url_for('.static', filename='css/jquery-ui.theme.min.css') }}" rel="stylesheet" media="screen">
{% endblock %}

{% block navbar %}
    <ul class="breadcrumb">
        <li><a href="{{ url_for('.index') }}">Start</a></li>
        <li class="active">Add article</li>
        <li class="disabled">Save</li>
    </ul>
{% endblock %}

{% block contentbody %}
	<h2>Fill in article details</h2>
    <form class="form-horizontal" role="form" method="POST" action="{{ url_for('.add') }}">
        {{ form.hidden_tag() }}
        {% for field in form %}
            {% if field.name == "doi_field" %}
                <div class="form-group{% if field.flags.valid %} has-success has-feedback{% elif field.errors %} has-error has-feedback{% endif %}">
                    {{ field.label(class="col-sm-2 control-label") }}
                    <div class="col-sm-8">
                    {% if field.flags.valid %}
                        {{ field(class='form-control', disabled=True) }}
                        <span class="glyphicon glyphicon-ok form-control-feedback"></span>
                    {% elif field.errors %}
                        {{ field(class='form-control') }}
                        <span class="glyphicon glyphicon-remove form-control-feedback"></span>
                    {% else %}
                        {{ field(class='form-control') }}
                    {% endif %}
                    {% if field.errors %}
                        {% for error in field.errors %}
                            <p class="text-danger text-right text-uppercase error">{{ error }}</p>
                        {% endfor %}
                    {% endif %}
                    </div>
                    <div class="col-sm-2">
                        <button type="submit" name="fetch_doi" id="fetch_doi" value="Fetch DOI" class="btn btn-success" {% if field.flags.valid %} disabled{% endif %}>Fetch DOI</button>
                    </div>
                </div>
            {% else %}
                {% if field.type == "StringField" or field.type == "TextAreaField" %}
                <div class="form-group">
                    {{ field.label(class="col-sm-2 control-label") }}
                    <div class="col-sm-10">
                        {{ field(class='form-control') }}
                        {% if field.errors %}
                            {% for error in field.errors %}
                                <p class="text-warning text-right text-uppercase error">{{ error }}</p>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
                {% elif field.type == "FieldList" and field.name == "authors_fieldlist" %}
										<div class="repeat">
											<div class="wrapper">
												<div class="form-group">
													<div class="col-sm-2">&nbsp;</div>
													<div class="col-sm-5">
														<input class="form-control" id="authors_fieldlist-\{\{row-count-placeholder\}\}-firstname" name="authors_fieldlist-\{\{row-count-placeholder\}\}-firstname" placeholder="First name(s)" type="text" value="">
													</div>
													<div class="col-sm-5">
														<input class="form-control" id="authors_fieldlist-\{\{row-count-placeholder\}\}-lastname" name="authors_fieldlist-\{\{row-count-placeholder\}\}-lastname" placeholder="Last name" type="text" value="">
													</div>
												</div>
											</div>
										</div>
                    {% set field_counter = 0 %}
                    {% for subform in field %}
                    <div class="form-group repeat">
                        {% if field_counter == 0 %}{{ field.label(class="col-sm-2 control-label") }}{% else %}<div class="col-sm-2">&nbsp;</div>{% endif %}
                        <div class="col-sm-5">
                            {{ subform.firstname(class='form-control', placeholder='First name(s)') }}
                        </div>
                        <div class="col-sm-5">
                            {{ subform.lastname(class='form-control', placeholder='Last name') }}
                        </div>
                        {% set field_counter = field_counter+1 %}
                    </div>
                    {% endfor %}
                     <div class="form-group">
                        <div class="col-sm-2">&nbsp;</div>
                        <div class="col-sm-10">
                            <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-plus"></span> Add</button>
                        </div>
                    </div>

                {% endif %}
            {% endif %}
        {% endfor %}
 
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
               <button type="submit" id="save" name="save" value="Save" class="btn btn-primary">Save to Database</button> 
               <a href="{{ url_for('.add') }}" class="btn btn-default active" role="button">Reset</a>
            </div>
        </div>

    </form>

{% endblock %}

