{% extends "base.html" %}

{% block scripts %}
{{super()}}
<script>
$(document).ready(function() {
	var maxInputs = 16; 
	var inputsWrapper = $("#inputWrapper"); // Input boxes' wrapper ID
	var addButton = $("#addMoreFieldButton"); // Add button ID
	
	var x = inputsWrapper.length; // initial text box count
	var fieldCount=1; // track how many input boxes have been added

	$(addButton).click(function (e) { // on add input button click
		if (x<=maxInputs) {
			fieldCount++;
			$(inputsWrapper).append('<div><input type="text" name="mytext[]" id="field_'+ fieldCount +'" value="Text '+ fieldCount +'"/><a href="#" class="removeclass">&times;</a></div>');
            x++; 
		}
		return false;
	});
	$("body").on("click",".removeclass", function(e) {
		if (x>1) {
			$(this).parent('div').remove();
			x--;
			fieldCount--;
		}
	});
});
</script>
{% endblock %}

{% block navbar %}
    <ul class="breadcrumb">
        <li><a href="{{ url_for('.index') }}">Start</a></li>
        <li>Review</li>
        <li class="disabled">Save</li>
    </ul>
{% endblock %}

{% block contentbody %}
	<h2>Fill in article details</h2>
    <form class="form-horizontal" role="form" method="POST" action="{{ url_for('.add') }}">
        {{ form.hidden_tag() }}
        {% for field in form %}
            {% if field.name == "doi_field" %}
                <div class="form-group{% if field.flags.valid %} has-success has-feedback{% elif field.errors %} has-error has-feedback{% endif %}">
                    {{ field.label(class="col-sm-2 control-label") }}
                    <div class="col-sm-8">
                    {% if field.flags.valid %}
                        {{ field(class='form-control', disabled=True) }}
                        <span class="glyphicon glyphicon-ok form-control-feedback"></span>
                    {% elif field.errors %}
                        {{ field(class='form-control') }}
                        <span class="glyphicon glyphicon-remove form-control-feedback"></span>
                    {% else %}
                        {{ field(class='form-control') }}
                    {% endif %}
                    {% if field.errors %}
                        {% for error in field.errors %}
                            <p class="text-danger text-right text-uppercase error">{{ error }}</p>
                        {% endfor %}
                    {% endif %}
                    </div>
                    <div class="col-sm-2">
                        <button type="submit" value="fetchdoi" class="btn btn-success">Fetch DOI</button>
                    </div>
                </div>
            {% else %}
                {% if field.type == "TextField" %}
                <div class="form-group">
                    {{ field.label(class="col-sm-2 control-label") }}
                    <div class="col-sm-10">
                        {{ field(class='form-control') }}
                        {% if field.errors %}
                            {% for error in field.errors %}
                                <p class="text-warning text-right text-uppercase error">{{ error }}</p>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
                {% elif field.type == "SubmitField" %}
                {% endif %}
            {% endif %}
        {% endfor %}
 
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
               <button type="submit" value="save" class="btn btn-primary">Save to Database</button> 
               <a href="{{ url_for('.add') }}" class="btn btn-default active" role="button">Reset</a>
            </div>
        </div>

    </form>

{% endblock %}

