{% extends "base.html" %}

{% block scripts %}
{{super()}}
<script src="{{ url_for('.static', filename='js/repeatable-fields.js') }}"></script>
<script type="text/javascript">
jQuery(function() {
	jQuery('.f-repeat').each(function() {
		jQuery(this).repeatable_fields({
			wrapper: '.f-wrapper',
			container: '.f-container',
	 		row: '.f-row',
			cell: 'div',
			template: '.f-template',
			add: '.f-add',
			remove: '.f-remove',
			});
	});
});
</script>
<script type="text/javascript">
$('#doi_field').change(function() {
	$('#doi_field').siblings('span').remove();
	$('#doi_field').parent().parent().removeClass('has-success has-error has-feedback');
});
</script>
{% endblock %}

{% block styles %}
{{super()}}
<link href="{{ url_for('.static', filename='css/jquery-ui.min.css') }}" rel="stylesheet" media="screen">
<link href="{{ url_for('.static', filename='css/jquery-ui.structure.min.css') }}" rel="stylesheet" media="screen">
<link href="{{ url_for('.static', filename='css/jquery-ui.theme.min.css') }}" rel="stylesheet" media="screen">
{% endblock %}


{% block contentbody %}
	<h2>Fill in article details</h2>
    <form class="form-horizontal" role="form" method="POST" action="{{ url_for('.add') }}">
        {{ form.hidden_tag()|safe }}
        {% for field in form %}
            {% if field.name == "doi_field" %}
                <div class="form-group{% if field.flags.valid %} has-success has-feedback{% elif field.errors %} has-error has-feedback{% endif %}">
                    {{ field.label(class="col-sm-2 control-label") }}
                    <div class="col-sm-8">
                    {% if field.flags.valid %}
                        {{ field(class='form-control')|safe }}
                        <span class="glyphicon glyphicon-ok form-control-feedback"></span>
                    {% elif field.errors %}
                        {{ field(class='form-control')|safe }}
                        <span class="glyphicon glyphicon-remove form-control-feedback"></span>
                    {% else %}
                        {{ field(class='form-control')|safe }}
                    {% endif %}
                    {% if field.errors %}
                        {% for error in field.errors %}
                            <p class="text-danger text-right text-uppercase error">{{ error|safe }}</p>
                        {% endfor %}
                    {% endif %}
                    </div>
                    <div class="col-sm-2">
											{% if field.flags.valid and form.json_field.data %}
												<a href="#" class="btn btn-info active" role="button" data-toggle="modal" data-target="#extradataModal">Show data</a>
											{% else %}
                        <button type="submit" name="fetch_doi" id="fetch_doi" value="Fetch DOI" class="btn btn-success" {% if field.flags.valid %} disabled{% endif %}>Fetch DOI</button>
											{% endif %}
                    </div>
                </div>
            {% else %}
                {% if field.type == "StringField" or field.type == "TextAreaField" %}
                <div class="form-group">
                    {{ field.label(class="col-sm-2 control-label")|safe }}
                    <div class="col-sm-10">
                        {{ field(class='form-control')|safe }}
                        {% if field.errors %}
                            {% for error in field.errors %}
                                <p class="text-warning text-right text-uppercase error">{{ error|safe }}</p>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
								{% elif field.type == "FormField" and field.name == "journal_field" %}
								<div class="form-group">
									{{ field.journalname.label(class="col-sm-2 control-label")|safe }}
									<div class="col-sm-6">
										{{ field.journalname(class='form-control')|safe }}
										{% for error in field.journalname.errors %}
											<p class="text-warning text-right text-uppercase error">{{ error|safe }}</p>
										{% endfor %}
									</div>
									<div class="col-sm-4">
										{{ field.abbrev(class='form-control', placeholder='abbrev. (opt.)')|safe }}
										{% for error in field.abbrev.errors %}
											<p class="text-warning text-right text-uppercase error">{{ error|safe }}</p>
										{% endfor %}
									</div>
								</div>
								{% elif field.type == "FormField" and field.name == "date_field" %}
								<div class="form-group">
									<label class="col-sm-2 control-label" for="date_field">Date</label>
									<div class="col-sm-4">
										{{ field.year(class='form-control', placeholder='year')|safe }}
										{% for error in field.year.errors %}
											<p class="text-warning text-right text-uppercase error">{{ error|safe }}</p>
										{% endfor %}
									</div>
									<div class="col-sm-3">
										{{ field.month(class='form-control', placeholder='month (opt.)')|safe }}
										{% for error in field.month.errors %}
											<p class="text-warning text-right text-uppercase error">{{ error|safe }}</p>
										{% endfor %}
									</div>
									<div class="col-sm-3">
										{{ field.day(class='form-control', placeholder='day (opt.)')|safe }}
										{% for error in field.day.errors %}
											<p class="text-warning text-right text-uppercase error">{{ error|safe }}</p>
										{% endfor %}
									</div>

								</div>
                {% elif field.type == "FieldList" and field.name == "authors_fieldlist" %}
								<div class="f-repeat">
									<div class="f-wrapper">
										<div class="f-container">
											<div class="f-template f-row form-group">
												<div class="col-sm-2">&nbsp;</div>
												<div class="col-sm-3">
													{% raw %}<input class="form-control" id="authors_fieldlist-{{row-count-placeholder}}-firstname" name="authors_fieldlist-{{row-count-placeholder}}-firstname" placeholder="First name" type="text" value="">{% endraw %}
												</div>
												<div class="col-sm-2">
													{% raw %}<input class="form-control" id="authors_fieldlist-{{row-count-placeholder}}-middlename" name="authors_fieldlist-{{row-count-placeholder}}-middlename" type="text" value="">{% endraw %}
												</div>
												<div class="col-sm-3">
													{% raw %}<input class="form-control" id="authors_fieldlist-{{row-count-placeholder}}-lastname" name="authors_fieldlist-{{row-count-placeholder}}-lastname" placeholder="Last name" type="text" value="">{% endraw %}
												</div>
												<div class="col-sm-2">
													<button type="button" class="f-remove btn btn-danger"><span class="glyphicon glyphicon-minus"></span> Delete</button>
												</div>
											</div><!-- f_template f_row -->
											{% for subform in field %}
												<div class="f-row form-group">
													{% if loop.index == 1 %}{{ field.label(class="col-sm-2 control-label")|safe }}{% else %}<div class="col-sm-2">&nbsp;</div>{% endif %}
													<div class="col-sm-3">
															{{ subform.firstname(class='form-control', placeholder='First name')|safe }}
															{% for error in subform.firstname.errors %}
																<p class="text-warning text-right text-uppercase error">{{ error|safe }}</p>
															{% endfor %}
													</div>
													<div class="col-sm-2">
															{{ subform.middlename(class='form-control')|safe }}
															{% for error in subform.middlename.errors %}
																<p class="text-warning text-right text-uppercase error">{{ error|safe }}</p>
															{% endfor %}
													</div>
													<div class="col-sm-3">
															{{ subform.lastname(class='form-control', placeholder='Last name')|safe }}
															{% for error in subform.lastname.errors %}
																<p class="text-warning text-right text-uppercase error">{{ error|safe }}</p>
															{% endfor %}
													</div>
													<div class="col-sm-2">
															<button type="button" class="f-remove btn btn-danger"><span class="glyphicon glyphicon-minus"></span> Delete</button>
													</div>
												</div>
											{% endfor %}
										</div><!-- f_container -->
										<div class="form-group">
											<div class="col-sm-2">&nbsp;</div>
											<div class="col-sm-10">
												<button type="button" class="f-add btn btn-success"><span class="glyphicon glyphicon-plus"></span> Add</button>
											</div>
										</div>
									</div><!-- f-wrapper -->
								</div><!-- f-repeat -->
                {% endif %}
            {% endif %}
        {% endfor %}
 
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
               <button type="submit" id="save" name="save" value="Save" class="btn btn-primary">Save to Database</button> 
               <a href="{{ url_for('.add') }}" class="btn btn-default active" role="button">Reset</a>
            </div>
        </div>

    </form>

		{% if form.json_field %}
		<div class="modal fade" id="extradataModal" tabindes="-1" role="dialog" aria-labelledby="extradataModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
						<h4 class="modal-title" id="extradataModelLabel">DOI fetch data (JSON)</h4>
					</div>
					<div class="modal-body">
						<pre class="pre-scrollable small">{{ form.json_field.data|prettyjson }}</pre>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					</div>
				</div>
			</div>
		</div>
		{% endif %}
{% endblock %}

{% block marketing %}

{% endblock %}
