{% extends "base.html" %}

{% block styles %}
{{super()}}
<link href="{{ url_for('login.static', filename='css/jquery-ui.min.css') }}" rel="stylesheet" media="screen">
<link href="{{ url_for('login.static', filename='css/jquery-ui.structure.min.css') }}" rel="stylesheet" media="screen">
<link href="{{ url_for('login.static', filename='css/jquery-ui.theme.min.css') }}" rel="stylesheet" media="screen">
{% endblock %}

{% block contentbody %}
	<h2>Sign in</h2>

		<div class="help-block">Please select your OAuth provider:</div>
		<div class="control-group">
			{% for pr,val in providers.items() %}
			<a href="{{ url_for('login.oauth_authorize', provider=pr) }}"><img src="{{ url_for('login.static', filename='img/'+pr+'.png') }}" class="img-polaroid" style="margin:2px;" /></a>
			{% endfor %}
		</div>

{% endblock %}

{% block marketing %}

{% endblock %}
