{% extends 'admin/layout.html' %}
{% import 'admin/_macros.html' as lib with context %}
{% set name = admin_view.get_display_name() %}

{% block styles %}
{{ super() }}
<link href="{{ url_for('admin.static', filename='chosen/chosen.css') }}" rel="stylesheet">
<link href="{{ url_for('admin.static', filename='css/datepicker.css') }}" rel="stylesheet">
<style>
form {
	font-family: inherit;
}
.chzn-container-active .chzn-choices {
	box-shadow: inherit;
	border: inherit;
}
.chzn-container-multi .chzn-choices {
	background-color: white;
	background-image: inherit;
	border: inherit;
}
.chzn-container-single .chzn-single {
	color: inherit; 
	background-color: white;
	border: 1px solid #ccc;
}
.chzn-container-multi .chzn-multi {
	color: inherit;
	background-color: white;
	border: 1px solid #ccc;
}
form > section > input, form > section > textarea, form > section > select {
		
}
</style>
{% endblock %}

{% block scripts %}
{{super()}}
<script src="{{ url_for('admin.static', filename='js/bootstrap-datepicker.js') }}"></script>
<script src="{{ url_for('admin.static', filename='js/form.js') }}"></script>
{% endblock %}


{% block contentbody %}
	<h2>{{ _gettext('Edit %(model)s',model=name|capitalize) }}</h2>
	<div>
		{% macro extra() %}
			{% if admin_view.can_delete %}
				<a href="{{ url_for('.delete', pk=pk) }}" class="btn btn-danger">{{ _gettext('Delete') }}</a>
			{% endif %}
			{% if admin_view.can_edit %}
				<input name="_edit" type="submit" class="btn" value="{{ _gettext('Save and stay on page') }}" />
			{% endif %}
		{% endmacro %}
		{{ lib.render_form(form, extra(), admin_view.can_edit, admin_view.can_delete) }}
	</div>
{% endblock %}


